{% extends 'ToDoToDoBundle:CRUD:show.html.twig' %}   
{% import 'ToDoToDoBundle:CRUD:actions.html.twig' as actions %}

{% set title="Show" %}

{% block tableTitle %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block tableBody %}
    <tr>
        <th>Userid</th>
        <td>{{ entity.userId }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ entity.status }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ entity.description }}</td>
    </tr>
    <tr>
        <th>Duedate</th>
        <td>{{ entity.duedate|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Id</th>
        <td>{{ entity.id }}</td>
    </tr>
{% endblock %}

{% block misc %}
    {{ actions.new(path('todoitems_new'),'New') }}
    <a class="btn btn-success" href="{{ path('to_do_to_do_homepage') }}">Home</a>
        </div>
    </td>
{% endblock %}

