<form action="{{ path("_login_check") }}" method="post" id="login" class="form-signin">
    <h2 class="form-signin-heading">Please Sign in</h2>
    {% if error %}
        <div class="alert alert-danger">{{ error.message | trans }}</div>
    {% endif %}
    <input type="text" class="form-control" placeholder="Username" required autofocus id="username" name="_username" value="{{ last_username }}">
    <input type="password" class="form-control" placeholder="Password" required id="password" name="_password">
    <label class="checkbox">
        <input type="checkbox" value="remember-me" name="_remember_me" id="remember_me"> Remember Me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="_submit">Accedi</button>
    
    
    <a class="btn btn-lg btn-primary btn-block" href= "connect/facebook">facebook</a>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '12345678910',                        // App ID from the app dashboard
                channelUrl : '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>
    <a class="btn btn-lg btn-primary btn-block" href= "connect/facebook">google</a>
</form>